@mixin contacto-style {
  #contacto-background{
    height: auto;
  }
  .contacto-background-config {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .contacto-background-tint{
    position: relative;
  }
  .contacto-background-tint:before{
    background: rgba(250, 250, 250, 0.08);
    opacity:0.8;
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1;
  }
}



@mixin formulario-style {
  position: relative;
  z-index: 999;
  .ng-valid {
    border-left: 5px solid #4E7cb9; /* green */
  }

  .callout{
    background: rgba(250, 250, 250, 0.1);
    border: 1px solid #4E7cb9;
    h5{
      font-family: 'Quicksand-Bold', sans-serif;
      color: #4E7cb9;
    }
    p{
      font-family: 'Quicksand-Regular', sans-serif;
      color: #4E7cb9;
    }
  }

  input,textarea{
    vertical-align: middle;
    background: rgba(250, 250, 250, 0.1);
    border: none;
    width: 100%;
    color: #4E7cb9;
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 300;
  }

  .button.hollow {
    border: 1px solid #4E7cb9;
    color: #385AA0;
    &:hover{
      border: 1px solid #4E7cb9;
      background-color: #4E7cb9;
      color: #fefefe;
    }
  }

}

.contacto{
  // padding: 1.5em;
  @include contacto-style;

  .formulario{
    @include formulario-style;
  }
}
