<div class="contacto">
  <div id="contacto-background" class="contacto-background contacto-background-config contacto-background-tint">
    <div class="expanded row formulario">

      <h2 class="titulo">Escríbenos ...<i class="mdi mdi-pen"></i></h2>

      <div class="row animation-element slide-right">
        <div class="large-10 large-centered columns">
          <form novalidate data-abide method="post" accept-charset="utf-8">
            <div class="row">
              <div class="medium-6 columns">
                <label class="contacto-label"><span><i class="mdi mdi-account"></i> Nombre</span>
                  <input type="text" id="nombre" [ngFormControl]="group.find('nombre')" [(ngModel)]="formulario.nombre" placeholder="Usuario">
                </label>
                <div *ngIf="group.find('nombre').dirty && !group.find('nombre').valid" class="callout" data-close >
                    <h5>*Nota</h5>
                    <p *ngIf="group.hasError('required', 'nombre')">Este campo es necesario</p>
                    <p *ngIf="group.hasError('textFormat', 'nombre')">Este campo tiene valores no validos o necesita al menos 3 caracteres</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              </div>
              <div class="medium-6 columns">
                <label class="contacto-label"><span><i class="mdi mdi-at"></i> Correo Electronico</span>
                  <input type="text" id="email" [ngFormControl]="group.find('email')" [(ngModel)]="formulario.email" placeholder="email@mail.com">
                </label>

                <div *ngIf="group.find('email').dirty && !group.find('email').valid" class="callout" data-close >
                    <h5>*Nota</h5>
                    <p *ngIf="group.hasError('required', 'email')">Este campo es necesario</p>
                    <p *ngIf="group.hasError('emailFormat', 'email')">Este campo no contiene un email valido</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="medium-6 columns">
                <label class="contacto-label"><span><i class="mdi mdi-beer"></i> Asunto</span>
                  <input type="text" id="asunto" [ngFormControl]="group.find('asunto')" [(ngModel)]="formulario.asunto" placeholder="Asunto del mensaje">
                </label>

                <div *ngIf="group.find('asunto').dirty && !group.find('asunto').valid" class="callout" data-close >
                    <h5>*Nota</h5>
                    <p *ngIf="group.hasError('required', 'asunto')">Este campo es necesario</p>
                    <p *ngIf="group.hasError('textFormat', 'asunto')">Este campo tiene valores no validos o necesita al menos 3 caracteres</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

              </div>
              <div class="medium-6 columns">
                <label class="contacto-label"><span><i class="mdi mdi-phone"></i> Telefono</span>
                  <input type="text" id="telefono" [ngFormControl]="group.find('telefono')" [(ngModel)]="formulario.telefono" placeholder="4433775566">
                </label>

                <div *ngIf="group.find('telefono').dirty && !group.find('telefono').valid" class="callout" data-close >
                    <h5>*Nota</h5>
                    <p *ngIf="group.hasError('telofonoFormat', 'telefono')">Este campo tiene un numero telefonico no valido</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <label class="contacto-label" ><span><i class="mdi mdi-book-open"></i> Mensaje</span>
                  <textarea id="mensaje" [ngFormControl]="group.find('mensaje')" [(ngModel)]="formulario.mensaje" rows="4" cols="20" placeholder="Mensaje"></textarea>
                </label>

                <div *ngIf="group.find('mensaje').dirty && !group.find('mensaje').valid" class="callout" data-close >
                    <h5>*Nota</h5>
                    <p *ngIf="group.hasError('required', 'mensaje')">Este campo es necesario>Este campo es necesario</p>
                    <p *ngIf="group.hasError('textFormat', 'mensaje')">Este campo tiene valores no validos o necesita al menos 15 caracteres</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

              </div>
            </div>
            <div class="row animation-element slide-right">
              <div class="medium-12 columns">
                <button *ngIf='group._status == "VALID" ' (click)="submitForm()" type="submit" class="expanded hollow button " name="button">
                  <i class="mdi mdi-send"></i> Enviar
                </button>
                <button *ngIf='group._status != "VALID" ' class="expanded hollow button " name="button" disabled>
                  <i class="mdi mdi-send"></i> Enviar
                </button>
              </div>
            </div>
            <div *ngIf="mensaje" class="success callout" data-close >
                <h3>Gracias por contactarnos!</h3>
                <p>
                  {{mensaje}}
                </p>
                <p>
                  Evaluaremos tu solicitud y te resonderemos los más pronto posible.
                </p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
