<h1 class="titulo">Precios</h1>

<div class="callout">
  <p class="texto">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit.
  </p>
</div>

<div class=" row">
  <div class="medium-4 columns">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">Standard</li>
      <li class="price">$99.99</li>
      <li class="description">An awesome description</li>
      <li>1 Database</li>
      <li>5GB Storage</li>
      <li>20 Users</li>
      <li><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>

  <div class="medium-4 columns">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">Standard</li>
      <li class="price">$99.99</li>
      <li class="description">An awesome description</li>
      <li>1 Database</li>
      <li>5GB Storage</li>
      <li>20 Users</li>
      <li><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>

  <div class="medium-4 columns">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">Standard</li>
      <li class="price">$99.99</li>
      <li class="description">An awesome description</li>
      <li>1 Database</li>
      <li>5GB Storage</li>
      <li>20 Users</li>
      <li><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
</div>
