<main class="cd-main-content">
  <div class="cd-fixed-bg cd-bg-1 ">
    <h1 class="titulo-2">Live Counting</h1>

  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
      <rexdev-servicios></rexdev-servicios>
    </div> <!-- cd-container -->
  </div> <!-- cd-scrolling-bg -->

  <div class="cd-fixed-bg cd-bg-2">
    <div class="cd-scrolling-bg ">
      <div class="cd-container">
        <rexdev-precio></rexdev-precio>
      </div>
    </div>
  </div> <!-- cd-fixed-bg -->



  <rexdev-nosotros></rexdev-nosotros>

  <div class="cd-fixed-bg cd-bg-4">
    <h2 class="titulo" >Lorem ipsum dolor sit amet.</h2>
  </div> <!-- cd-fixed-bg -->

  <rexdev-contacto></rexdev-contacto>

</main> <!-- cd-main-content -->
