
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg:before{
  background: rgba(33, 33, 33, 0.25);
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../../assets/images/cover/live_5.jpg");

}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../../assets/images/cover7.png");
  min-height: 100%;
  .cd-scrolling-bg {
    position: relative;
    min-height: auto;
    padding: 2em 0;
    line-height: 1.6;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.0);
    z-index: 2;
    h1, h2 {
      position: relative;
      left: 50%;
    }
    .callout{
      margin: 0 1em 1em 1em;
      padding: 1rem;
      border: 1px solid rgba(10, 10, 10, 0.25);
      border-radius: 10px;
      position: relative;
      color: #0a0a0a;
      background-color: #F6F6F6;
    }
  }

}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../../assets/images/cover7.png");
  min-height: 50%;
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../../assets/images/cover7.png");
  min-height: 50%;
}
@include breakpoint(medium) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@include breakpoint (large) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: auto;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #F7F8F9;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #F7F8F9;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #F7F8F9;
}
@include breakpoint (medium) {
  .cd-scrolling-bg {
    padding: 1em 0 2.5em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.disabled h1{
	display: none;
}
