<header class="cd-header">
  <div id="cd-logo"><a href="#0"><img src="assets/images/cd-logo.svg" alt="Logo"></a></div>

  <nav class="cd-main-nav">
    <ul>
      <!-- inser more links here -->
      <li><a href="#0">Home</a></li>
      <li><a href="#0">About</a></li>
      <li><a href="#0">Pricing</a></li>
      <li><a href="#0">Gallery</a></li>
      <li><a href="#0">Contact</a></li>
    </ul>
  </nav> <!-- cd-main-nav -->
</header>
