<h1 class="titulo animated bounceInDown"><i class="fa fa-cubes" aria-hidden="true"></i> Servicios</h1>
<div class="expanded row">

  <div class="large-4 columns">
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
    <div class="callout">
      <h3><i class="fa fa-clone" aria-hidden="true"></i> This is a callout.</h3>
      <p class="texto">
        It has an easy to override visual style, and is appropriately subdued.
        It has an easy to override visual style, and is appropriately subdued.
      </p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
  </div>
</div>
