@import 'foundation';
@import 'bourbon';
@import 'mixins';
@import 'fonts';
@import 'variables';
@import '../../app/components/menu/menu';
@import '../../app/components/menu2/menu';
@import '../../app/components/home/home';
@import '../../app/components/contenido/contenido';
@import '../../app/components/contenido/nosotros/nosotros';
@import '../../app/components/contenido/contacto/contacto';

body {
	font: {
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: white;
}

html, body {
	height: 100%;
}

a {
	color: #4E7CB9;
	text-decoration: none;
}
