.callout {
  background: none;
  border: none;
}
.titulo {
  font-size: 2.8em;
  color: #FFF;
  font-family: 'Quicksand-Bold', sans-serif;
  padding:.2em 1.5em;
  text-align: center;
  i {
    font-size: .7em;
  }
  @include breakpoint(medium) {
    font-size: 3em;
    i {
      font-size: .6em;
    }
  }
  @include breakpoint(large) {
    font-size: 3.5em;
    i {
      font-size: .8em;
    }
  }
}

.titulo-2 {
  font-size: 35px;
  color: white;
  font-family: 'Quicksand-Bold', sans-serif;
  padding:.5em 1.5em;
  text-align: center;
  @include breakpoint(medium) {
      font-size: 48px;

  }
  @include breakpoint(large) {

  }

}

.sub-titulo {
  font-size: 26px;
  color: #2890ae;
  font-family: 'Quicksand-Light', sans-serif;
  text-align: left;
  padding:0em 1.5em;
  @include breakpoint(medium) {
    font-size: 33px;

  }
  @include breakpoint(large) {

  }

}

.texto {
  font-size: 19px;
  color:black;
  font-family: 'Quicksand-Regular', sans-serif;
  text-align: justify;
  padding:0em 1.5em;
  @include breakpoint(medium) {
    font-size: 22px;

  }
  @include breakpoint(large) {

  }

}

// Variables H
h3{
  font-size: 1.5em;
  padding: .3em 0;
  font-family: 'Quicksand-Bold', sans-serif;
  i {
    font-size: .7em;
  }
  @include breakpoint(medium) {
    font-size: 1.8em;
    text-align: center;
    i {
      font-size: .6em;
    }
  }
  @include breakpoint(large) {
    font-size: 1.5em;
    text-align: left;
    i {
      font-size: .8em;
    }
  }
}

.contacto-label {
  font-size: 0.7em;
  color: #385AA0;
  font-family: 'Quicksand-Regular', sans-serif;
  padding:0;

  @include breakpoint(medium) {
    font-size: 1em;
  }
  @include breakpoint(large) {
    font-size: 1.2em;
  }
}


// TEMPLATE

// colors

$S:     320px;
$M:     768px;
$L:     1170px;

$color-1: #3d3536; // brown
$color-2: #99a478; // green dark
$color-3: #b4d7a8; // green light
$color-4: #ffffff; // white

//header height

$header-height-S: 50px;
$header-height-M: 70px;

// fonts

$primary-font: 'Roboto', sans-serif;

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;
// colors

$color-1: #2978A0; // Jelly Bean
$color-2: #315659; // Spectra
$color-3: #BCAB79; // Gimblet
$color-4: #253031; // Outer Space
$color-5: #FFFFFF; // White

// fonts

$primary-font: sans-serif;
$secondary-font: 'Playfair Display', serif;

//number of projects

$items: 3;
