<header>
  <a href="#0" class="cd-logo"><img src="assets/images/cd-logo.svg"></a>

  <button class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></button>
</header>

<nav class="cd-primary-nav">
  <ul>
    <li class="cd-label">Live Couting</li>
    <li><a href="#0">The team</a></li>
    <li><a href="#0">Our services</a></li>
    <li><a href="#0">Our projects</a></li>
    <li><a href="#0">Contact us</a></li>
  </ul>
</nav> <!-- .cd-primary-nav -->
