.cd-logo, .cd-nav-trigger {
	position: absolute;
	z-index: 3;
}

.cd-logo {
	top: 34px;
	left: 5%;
	@include transition(opacity .3s, visibility .3s);

	&.project-open {
		opacity: 0;
		visibility: hidden;
	}
}

.cd-nav-trigger {
	top: 24px;
	right: 5%;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background-color: rgba(#000, .6);
	@include transition(background .2s);

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;

	.cd-icon,
	.cd-icon::before,
	.cd-icon::after {
		/* icon created in CSS */
		position: absolute;
		background-color: $color-5;
		border-radius: 2px;

		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		@include backface-visibility(hidden);
	}

	.no-touch &:hover {
		background-color: rgba(#000, .8);
	}

	.cd-icon {
		/* middle line of the menu icon */
		display: inline-block;
		width: 18px;
		height: 2px;
		@include center; // mixin inside partials > _mixins.scss
		@include transition(transform .3s, background-color .3s);

		&::before, &::after {
			/* upper and lower lines of the menu icon */
			content: '';
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			@include transition(transform .3s);
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}

	&.project-open .cd-icon {
		/* user selects a projects - transform the icon into a 'X' */
		background-color: rgba($color-5, 0);

		&::before, &::after {
			background-color: rgba($color-5, 1);
		}

		&::before {
			@include transform(translateY(0) rotate(45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(-45deg));
		}
	}

	&.nav-open .cd-icon {
		/* user opens the navigation - transform the icon into an arrow */
		@include transform(translateY(-50%) translateX(-50%) rotate(90deg));

		&::after {
			@include transform(translateX(-5px) translateY(3px) rotate(45deg) scaleX(.5));
		}

		&::before {
			@include transform(translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(.5));
		}
	}
}

/* --------------------------------

 Navigation

-------------------------------- */

.cd-primary-nav {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	/* height = (100% - 9%) - 9% is the space taken by the projects when the navigation is open */
	height: 100%;
	width: 100%;
	overflow: auto;
	text-align: center;
	opacity: 0;
	// @include transition(opacity 0s .4s);

	/* vertically align its content */
	display: table;

	ul {
		/* vertically align inside nav */
		display: table-cell;
		vertical-align: middle;
		@include transform(translateY(50px));
		@include transition(transform .4s);
	}

	a {
		display: inline-block;
		padding: .4em 1em;
		border-radius: 4px;
		@include transition(background .2s);

		color: $color-5;
		font-family: 'Quicksand-Regular',sans-serif;
		font-size: 1.5em;
		font-weight: 700;
		@include font-smoothing;

		.no-touch &:hover {
			background-color: lighten($color-4, 5%);
		}
		&:hover{
			transform: scale(1.1);
		}
		@include breakpoint(medium) {
			font-size: 2em;
		}
		@include breakpoint(large) {
			font-size: 1.8em;
		}
	}

	.cd-label {
		position: relative;
		margin: 7.4em 0 2em;

		color: #4E7CB9;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.3em;
		letter-spacing: 1px;

		@include breakpoint(medium) {
			margin: 2.4em 0 2em;
		}

		&::after {
			/* line below .cd-label*/
			content: '';
			position: absolute;
			@include center(x);
			bottom: -16px;
			height: 1px;
			width: 80px;
			background-color: currentColor;
		}
	}

	&.nav-open {
		opacity: 1;
		@include transition(opacity 0s);

		ul {
			@include transform(translateY(-90px));
		}
	}
}
