<div class="cd-scrolling-bg cd-color-2">
  <div class="cd-container">
    <h2 class="titulo"><i class="fa fa-users" aria-hidden="true"></i> Nosotros</h2>
    <p class="texto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
    </p>
  </div> <!-- cd-container -->
  <div class="expanded row">
    <div class="large-6 medium-6 small-12 columns">
      <h3 class="titulo">MISIÓN</h3>
      <div class="callout">
        <p class="texto">It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <h3 class="titulo">VISIÓN</h3>
      <div class="callout">
        <p class="texto">It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>
</div> <!-- cd-scrolling-bg -->
